{% extends "index.html" %}
{% load static %}
        {% block content %}
            <div class="row main-table-block">
                <div class="col s12">
                    <ul class="tabs teal lighten-1" id="tabs">
                        <li class="tab col m3 s12"><a class="white-text" href="#followers">7000</a></li>
                        <li class="tab col m3 s12"><a class="white-text" href="#posts">5000</a></li>
                        
                    </ul>
                </div>
                <div id="posts" class="col s12">
                    <table class="responsive-table centered">
                      <thead>
                      <tr>
                          <th>Тренажер 1</th>
                          <th>Тренажер 2</th>
                          <th>Тренажер 3</th>
                          <th>Тренажер 4</th>
                          <th>Тренажер 5</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>
                              <table class="responsive-table" cellspacing="0" cellpadding="0" width="100%">
                                  <tbody>
                                  <tr>
                                      <td width="25%">1</td>
                                      <td width="25%">2</td>
                                  </tr>
                                  <tr>
                                      <td width="25%">3</td>
                                      <td width="25%">4</td>
                                  </tr>
                                  </tbody>
                             </table>
                          </td>
                          <td>
                              <table cellspacing="0" cellpadding="0" width="100%">
                                  <tbody>
                                  <tr>
                                    <td width="25%">1</td>
                                    <td width="25%">2</td>
                                </tr>
                                <tr>
                                    <td width="25%">3</td>
                                    <td width="25%">4</td>
                                  </tr>
                                  </tbody>
                              </table>
                          </td>
                    </tbody>
                    </table>
                </div>
                <div id="followers" class="col s12">
                    <table class="responsive-table centered">
                      <thead>
                      <tr>
                          <th>Тренажер 1</th>
                          <th>Тренажер 2</th>
                          <th>Тренажер 3</th>
                          <th>Тренажер 4</th>
                          <th>Тренажер 5</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>
                              <table class="responsive-table" cellspacing="0" cellpadding="0" width="100%">
                                  <tbody>
                                  <tr>
                                    <td width="25%">1</td>
                                    <td width="25%">2</td>
                                </tr>
                                <tr>
                                    <td width="25%">3</td>
                                    <td width="25%">4</td>
                                  </tr>
                                  </tbody>
                             </table>
                          </td>
                          <td>
                              <table cellspacing="0" cellpadding="0" width="100%">
                                  <tbody>
                                  <tr>
                                    <td width="25%">1</td>
                                    <td width="25%">2</td>
                                </tr>
                                <tr>
                                    <td width="25%">3</td>
                                    <td width="25%">4</td>
                                  </tr>
                                  </tbody>
                              </table>
                          </td>
                          <td><table class="responsive-table" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                            <tr>
                                <td width="25%">1</td>
                                      <td width="25%">2</td>
                                  </tr>
                                  <tr>
                                      <td width="25%">3</td>
                                      <td width="25%">4</td>
                            </tr>
                            </tbody>
                       </table></td>
                          <td><table class="responsive-table" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                            <tr>
                                <td width="25%">1</td>
                                      <td width="25%">2</td>
                                  </tr>
                                  <tr>
                                      <td width="25%">3</td>
                                      <td width="25%">4</td>
                            </tr>
                            </tbody>
                       </table></td>
                          <td><table class="responsive-table" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                            <tr>
                                <td width="25%">1</td>
                                      <td width="25%">2</td>
                                  </tr>
                                  <tr>
                                      <td width="25%">3</td>
                                      <td width="25%">4</td>
                            </tr>
                            </tbody>
                       </table></td>
                    </tbody>
                    </table>
                </div>

            </div>
                  
{% endblock %}


